.git
.gitignore
.gitattributes

node_modules
npm-debug.log

vendor

.env
.env.*

*.md
README.md
IMPLEMENTATION_GUIDE.md
QUICK_START.md

tests
phpunit.xml
.phpunit.result.cache

docker-compose.yml
Dockerfile

storage/logs
storage/debugbar

.idea
.vscode